@media screen and (max-width: 500px) {
    .container {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .nft-preview-card-component {
        margin-top: 62px;
        height: 543px;
        width: 327px;
    }

    .nft-preview-card-component > .img-overlay-container {
        width: 278px;
        height: 278px;
    }

    .nft-preview-card-component > h1 {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    .nft-preview-card-component > p {
        margin-bottom: 16px;
    }

    .nft-preview-card-component > .infos,
    .nft-preview-card-component > .author {
        margin-bottom: 16px;
        font-size: 15px;
        line-height: 19px;
    }
}
