:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Cyan-see-through: hsl(178, 100%, 50%, 0.5);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

html {
    height: 100%;
}

.container {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue-main);
}

/* reseting styles inside component */

.nft-preview-card-component p,
.nft-preview-card-component h1,
.nft-preview-card-component a {
    margin: 0px;
    padding: 0px;
    color: inherit;
    text-decoration: none;
}

/* component style */

.nft-preview-card-component {
    box-sizing: border-box;
    width: 350px;
    height: 596px;
    padding: 24px;

    background-color: var(--Very-dark-blue-card);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;

    font-family: "Outfit";
    font-style: normal;
}

.nft-preview-card-component a {
    cursor: pointer;
}
.nft-preview-card-component a:active {
    color: var(--Cyan) !important;
}

.nft-preview-card-component > .img-overlay-container {
    position: relative;
    overflow: hidden;
    display: block;
    width: 302px;
    height: 302px;
    border-radius: 8px;
}

.nft-preview-card-component > .img-overlay-container > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.nft-preview-card-component > .img-overlay-container > .img-overlay {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: none;
    background-color: var(--Cyan-see-through);
}

.nft-preview-card-component
    > .img-overlay-container:not(:active)
    > .img-overlay {
    display: none;
}

.nft-preview-card-component > h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: var(--White);

    margin-top: 24px;
    margin-bottom: 16px;
}

.nft-preview-card-component > p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: var(--Soft-blue);

    margin-bottom: 24px;
}

.nft-preview-card-component > .infos {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 24px;
}

.nft-preview-card-component > .infos p {
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
}

.nft-preview-card-component > .infos p:first-child::before {
    content: url("images/icon-ethereum.svg");
    vertical-align: middle;
    margin-right: 6px;
}

.nft-preview-card-component > .infos p:first-child {
    font-weight: 600;
    color: var(--Cyan);
}

.nft-preview-card-component > .infos p:last-child::before {
    content: url("images/icon-clock.svg");
    vertical-align: middle;
    margin-right: 6px;
}

.nft-preview-card-component > .infos p:last-child {
    font-weight: 400;
    color: var(--Soft-blue);
}

.nft-preview-card-component > .author {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: var(--Soft-blue);
    align-items: flex-start;

    border-top: 1px solid var(--Very-dark-blue-line);
    padding-top: 16px;
}

.nft-preview-card-component > .author img {
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    border: 1px solid var(--White);
    border-radius: 50%;

    margin-right: 16px;
}

.nft-preview-card-component > .author .name {
    padding-top: 6px;
    color: var(--White);
}
